body {
  background-color: #2d1e17;
  color: #2d1e17;
  font-family: 'Open Sans', 'icones', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #2d1e17;
  padding: 8px 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

.header__logo {
  width: 200px;
}

.lateral__menu__icon {
  font-size: 20px;
  padding-right: 10px;
  color: white;
}

.lateral__menu {
  display: flex;
  flex-direction: column;
  background-color: #2d1e17;
  width: 75vw;
  height: 100vh;
  top: 35px;
  position: absolute;
  left: -100vw;
  transition: .25s;
}

.lateral__menu--active {
  left: 0;
  transition: .25s;
}

.lateral__menu__link {
  height: 60px;
  color: #95999C;
  padding-left: 30px;
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5) ;
}

.lateral__menu__link--active {
  color: #FFFFFF;
  border-left: 8px solid #FFFFFF;
  padding-left: 22px;
}

.menu {
  display: none;
}

.principal {
  background-image: url(../images/background-image.png);
  color: black;
  padding: 0 10px;
  display: grid;
  gap: 16px;
}

.main__titles {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
}

.presentation__logo {
  display: block;
  margin: 1rem auto;
  width: 200px;
}

.presentation__title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.presentation__text {
  font-size: 1rem;
  margin: 1rem auto;
  text-align: center;
  font-style: italic;
}

.card {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  background-color: #2d1e17;
  margin: 1rem auto;
}

.card__image {
  width: 100%;
}

.card__content {
  padding: 10px;
}

.card__product-title {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.5rem;
  color: white;
}

.card__button {
  background-color: #fed8aa;
  color: #2d1e17;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  font-size: 1rem;
}

/*footer*/

.footer {
  padding-top: 1rem;
}

.footer__logo {
  display: block;
  width: 100px;
  margin: 1rem auto;
}

.footer__title {
  color: white;
  font-size: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.footer__social {
  display: flex;
  justify-content: space-evenly;
  color: white;
}

.footer__icon {
  font-size: 80px;
  margin-bottom: 1rem;
}

.copyright {
  color: white;
  text-align: center;
  margin: 2rem auto;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .showcase {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: 45%;
  }
}

@media screen and (min-width: 1024px) {
  .presentation {
    background-image: url(../images/banner-background.jpg);
  }

  .card {
    width: 20%;
  }

  .footer {
    display: flex;
    justify-content: space-evenly;
  }
}