.presentation {
  height: 250px;
}

.teste {
  display: block;
  margin: 1rem auto;
  width: 60%;
}

.presentation__title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.presentation__text {
  font-size: 1rem;
  line-height: normal;
  margin: 0 auto;
  text-align: center;
  font-style: italic;
}