@import url("./colors.css");

.product__price {
  font-size: 1rem;
  margin: 1rem auto;
  text-align: center;
  color: white;
}

.sub, .sum{
  background-color: #fed8aa;
  color: #2d1e17;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0.5rem;
}

.product__amount {
  box-sizing: border-box;
  font-size: 1.5rem;
  height: 30px;
  margin: auto;
  width: 30px;
  border-radius: 10px;
  text-align: center;
}